# Assignment 1

This assignment is to test your understanding of Python basics.

Answer the questions and complete the tasks outlined below; use the specific method described, if applicable. In order to get complete points on your homework assigment you have to a) complete this notebook, b) based on your results answer the multiple choice questions on QoestromTools. 

**Important note:** make sure you spend some time to review the basics of python notebooks under the folder `00-Python-Basics` in course repo or [A Whirlwind Tour of Python](https://www.oreilly.com/programming/free/files/a-whirlwind-tour-of-python.pdf).

# Question 1
**What is 9 to the power of 7?**

In [0]:
# Your answer goes here
9 ** 7

4782969

# Question 2

**What is the quotient and remainder of 453634/34?**

In [0]:
# Your answer goes here
print('Quotient of 453634/34:', 453634 // 34)
print('Remainder of 453634/34:', 453634 % 34)

Quotient of 453634//34: 13342
Remainder of 453634//34: 6

# Question 3

Write a statement to check whether `a` is a multiple of 7 and within the range of [1000, 1800) or (0, 300]. 

**What is the outcome of `a = 833`?**

Note: (0, 300] represents a range from 0 to 300, where 0 is not included in the range, but 300 is.

In [0]:
a = 833

In [0]:
# Your answer goes here
(a % 7 == 0) and ((0 < a <= 300) or (1000 <= a < 1800))

False

# Question 4

**Given this nested list, what indexing yields to the word "hello"?**

In [0]:
lst = [[5,[100,200,{'target':[1,2,3,'hello']}],23,11],1,71,2,[3,4],'bye']
print(lst)

[[5, [100, 200, {'target': [1, 2, 3, 'hello']}], 23, 11], 1, 71, 2, [3, 4], 'bye']

In [0]:
# Your answer goes here
lst[0][1][2]['target'][3]

'hello'

# Question 5

Using a list comprehension, create a new list out of the list `L1`, which contains only the even numbers from `L1`, and converts them into absolute values (using `abs()` function). Call this new list `L2`.

**What is the sum of all of the elements of `L2`?** 

Hint: Use `sum(L2)` to get the sum of all the elements.

In [0]:
L1 = [64,  34, 112,  91,  62,  40, 117,  80,  96,  34,  48,  -9, -33,
      99,  16, 118, -51,  60, 115,   4, -10,  82,  -7,  77, -33, -40,
      77,  90,  -9,  52, -44,  25, -43,  28, -37,  92,  25, -45,   3,
      103,  22,  39, -52,  74, -54, -76, -10,   5, -54,  95, -59,  -2,
      110,  63, -53, 113, -43,  18,  49, -20,  81, -67,   1,  38, -24,
      57, -11, -69, -66, -67, -68, -16,  64, -34,  52, -37,  -7, -40,
      11,  -3,  76,  91, -57, -48, -10, -16,  14,  13, -65]

In [0]:
# Your answer goes here
L2 = [abs(x) for x in L1 if x % 2 == 0]
sum(L2)

2264

# Question 6

Write a function that receives a list of integer numbers and returns a list of numbers that are multiples of 4. Call this function `mult4_filter()`.

**Given the list `L3` below how many elements the outcome of `mult4_filter(L3)` has?**

Hint: use `len(mult4_filter(L3))` to get the number of elements.

In [0]:
L3 = [15, 11,  1,  3, 13,  3, 14, 16, 17, 17,  6, 18, 10, 19,  8,  1, 18,
      17, 14,  1,  5,  2, 13,  0,  1, 13, 16,  8,  5, 11, 12,  8, 17, 14,
      10, 18, 17, 16,  3,  7,  8, 15, 18,  7, 10,  5,  7, 16,  6,  5]

In [0]:
# Your answer goes here
def mult4_filter(L):
    num = []
    for n in L:
        if n % 4 == 0:
            num.append(n)
    return num

In [0]:
len(mult4_filter(L3))

10